<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgm"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListOfFriends"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>

            <!-- <meta-data -->
            <!-- android:name="android.app.default_searchable" -->
            <!-- android:value=".SearchResultsActivity" /> -->
        </activity>

        <service android:name=".serve.MessagingService" />

        <activity
            android:name=".LoggingIn"
            android:launchMode="singleTop"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PerformingMessaging"
            android:launchMode="singleTop"
            android:parentActivityName=".ListOfFriends"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SigningUp"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendAdder"
            android:parentActivityName=".ListOfFriends"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WaitingListFriends"
            android:parentActivityName=".ListOfFriends"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ListOfFriends"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tgm.ListOfFriends" />
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"
            android:launchMode="singleTop"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>